body {
	font-family:Tahoma;
	background-image: url('http://cdn.hifipanda.com/5194d489a8da216124.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

h2 {
	color:#F7931A;
}

.header-div{
    height:100px;
	background-color: #070707;
}	

.title{
    float:left;
	padding-top:5px;
    padding-left:10px;
}

.rate {
    float:right;
	padding-top:5px;
    padding-right:10px;
}

canvas {
	display: block;
	cursor: pointer;
}